body {
  color: #000033;
  border: #000000;
  margin: 0;
}

#ifnDiv {
  position: absolute;
  display: inline;
}

#inputFilename {
  font-family: Arial;
  display: inline;
}

svg {
  margin 0;
}

.nodeName{
  font-family: Arial;
  font-size: 11px;
  font-weight: bold; 
  text-anchor: middle;
  text-shadow: 1px 1px #ffffff; 
}

.solid {
  fill: none;
  stroke-width: 1.5px;
}

.dashed {
  fill: none;
  stroke-width: 1.5px;
  stroke-dasharray: 0,2 1;
}

d3-tip {
  line-height: 1;
  color: black;
}

#hidden-file-upload {
  display: none;
}

#upload-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 39px;
  opacity: 0.4;
}

#upload-input:hover {
  opacity: 1.0;
}
		 
#ifnDiv {
  margin: 3px;
